* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;
}

.btn_primary {
  display:inline-block;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #e43f5a, #ff5e62);
  padding: 1.5rem 2rem;
  border-radius: 50px;
  text-align:center;
  color: white;
  font-size: 1.2rem;
  transition: all .2s ease-in;
  text-decoration: none;
}

.btn_primary:hover {
  box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
}

  
  .flex-parent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
  }

  .jc-center {
    justify-content: center; 
  }

  @media all and (max-width:30em){
    .btn_primary{
      display:block;
      margin:0.2em auto;
    }
 
    .tablink {
      display:block;
      margin:0.2em auto;
    }
  }
