@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  /* Light mode */
  --light-switch-shadow: #373d4e;
  --light-switch-icon: "🌚";
  --light-switch-text: "dark mode?";
  --light-text: #222430;
  --light-bg: #f7f7f7;
  --light-theme: #d34a97;

  /* Dark mode */
  --dark-switch-shadow: #fce477;
  --dark-switch-icon: "🌝";
  --dark-switch-text: "light mode?";
  --dark-text: #f7f7f7;
  --dark-bg: #222430;
  --dark-theme: #bd93f9;

  /* Default mode */
  --switch-shadow-color: var(--dark-switch-shadow);
  --switch-icon: var(--dark-switch-icon);
  --switch-text: var(--dark-switch-text);
  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --theme-color: var(--dark-theme);
  
}

/* Switched mode */
.theme-switch:checked ~ #page {
  --switch-shadow-color: var(--light-switch-shadow);
  --switch-icon: var(--light-switch-icon);
  --switch-text: var(--light-switch-text);
  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
  --theme-color: var(--light-theme);
}

/* Theme switcher */
.theme-switch { /* Hides the checkbox */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.switch-label {
  cursor: pointer;
  display: flex;
}

.switch-label::before {
  content: var(--switch-icon);
  font-size: 40px;
  transition: text-shadow .2s;
}

.switch-label::after {
  align-self: center;
  content: var(--switch-text);
  color: var(--switch-shadow-color);
  font-size: 28px;
  line-height: 40px;
  opacity: 0;
  padding-left: 15px;
  transition: opacity .2s;
}

.theme-switch:focus ~ #page .switch-label::before,
.switch-label:hover::before {
  text-shadow: 0 0 15px var(--switch-shadow-color);
}

.theme-switch:focus ~ #page .switch-label::after,
.switch-label:hover::after {
  opacity: 1;
}

/* Styling */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#page {
  background: var(--bg-color);
  color: var(--text-color);
  font: normal 125%/1.4 Georgia, 'Times New Roman', Times, serif;
  min-height: 100%;
  transition: color .2s, background-color .2s;
}

#content {
  margin: auto;
  max-width: 60ch;
  padding: 2ch;
  min-height: 100%;
}

a {
  color: var(--theme-color);
}

footer {
  padding: 20px 0;
  margin: 50px 0;
  margin-top: auto;
  align-self: center;
  border-top: 1px solid var(--text-color);
}


 /*------------------------------------------------------*/
body {
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 3rem; 
  align-self: center;
  max-width: 80ch;
  padding: 3rem;
}

article {
  margin-top: 3rem; 
  align-self: center;
  max-width: 100ch;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

article.regular {
  box-shadow: none;
}

hr.bluegrey {
  border: none;       /*Gets rid of the ugly line underneath the dots*/
  border-top: 1px dotted #999999; 
}


h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
}
h2 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
}
h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
}

p {
  margin: 0 0 4.5rem 0;
  font-size: 1.5rem;
  
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 3rem; 
    padding: 0rem;
    padding-bottom: 2rem;
  }
  
  article {
    max-width: 100ch;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  }
  h1 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    letter-spacing: 0.5px;
  }


  }

  @media only screen and (max-width: 350px) {
  :root {
    --light-switch-icon: "🌑";
    --dark-switch-icon: "🌕";
  }
  
  }
/*SOCIAL MEDIA BUTTONS*/
 /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Adds a hover effect */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* google */
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}

/* for images  */ 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* PAGATION */ 
.pagination {
  display: inline-block;
}

.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #ff9966;
  color: #fff;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
  color: #333;
}