:root {
  --first-bg-color: #247BA0;
  --second-bg-color: #1295d8;
  --third-bg-color: #72cdf4;

}


body {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 0px; 
  margin-right: 0px; 
  background: linear-gradient(var(--second-bg-color), var(--first-bg-color));
    
}

hero {
  background: linear-gradient(var(--third-bg-color), var(--second-bg-color)); 
}

main {
  display: flex; 
  flex-flow: row wrap;
}

article {
  margin-top: 3rem; 
  margin-left: 5%;
  margin: 2.5%; 
  padding: 2.5%;
  max-width: 55%;
  background-color:#f2f6f7;  
  border-radius: 15px;
  border-style: solid;
  border-color: #7c7e7f;
}

aside {
  flex-direction: column; 
  margin-top: 3rem;
  margin: 2.5%; 
  padding: 2.5%; 
  max-width: 20%;
  font-style: italic;
  text-align: center;
  background-color: #005581;
  color: white; 
  border-radius: 15px;
  border-style: solid;
  border-color:#7c7e7f;
  
}

item {
  background-color: #FFD200;
  margin: auto;
}

.aside_image { 
  width: 50%;
  min-width: 150px; 
  max-width: 250px; 
}

footer {
  padding: 2rem; 
  color: white;
}

@media only screen and (max-width: 900px) {
  article {
    margin-top: 3rem; 
    margin: 2.5%; 
    padding: 2.5%;
    max-width: 90%;
    background-color:#f2f6f7;  
    border-radius: 15px;
  }
  
  aside {
    margin-top: 3rem;
    flex-direction: row; 
    margin: auto; 
    padding: 2.5%; 
    align-self: center;
    max-width: 90%;

  }

  .aside_image { 
    width: 50%;
    min-width: 150px; 
    max-width: 200px; 
  }

}
  


/*------------------TOPNAV----------------------------*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: #32292F;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
   
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #887BB0;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #F4B9B8;
  color: white;
}


/* ---------Container holding the image with the text on it -----------*/
.container {
    position: relative;
    text-align: center;
    color:red;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 50%;
    left: 20%;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 15%;
    left: 15%;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 1%;
    right: 25%;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  